#titleBig{
    font-family: Arial, serif;
    text-align: center;
}

.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.grid-container {
    display: grid;
    grid-template-areas:
    'StartContainer StartContainer WetterContainer WetterContainer'
    'ChangeContainer ChangeContainer WetterContainer WetterContainer'
    'StopContainer StopContainer WetterContainer WetterContainer'
    /*'CheckBoxContainer CheckBoxContainer CheckBoxContainer'*/
    'AusgabeContainer AusgabeContainer AusgabeContainer AusgabeContainer'
    'AusgabeContainer AusgabeContainer AusgabeContainer AusgabeContainer';
}

.titleFont{
    font-family: Arial, serif;
}
#iconPic{
    width: 25px;
    height: 25px;
}
#divStart{
    padding: 5px;
    width: auto;
    float: left;
}
#divStop{
    padding: 5px;
    width: auto;
    float: left;
}
#btnWechseln{
    background-image: url("images/pfeil.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}
#footer{
    position: relative;
    bottom: 0;
    margin-top: 130px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-align: center;
    height: auto;
    background-color: DarkSalmon;
}
#checkBusIMG{
    background-image: url("images/busBlue.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}
#checkZugIMG{
    background-image: url("images/trainRed.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}
#ausgabeBox{
    padding: 5px;
    width: auto;
    float: left;
}
#divStartContainer{
    grid-area: StartContainer;
    width: auto;
    margin: 0;
}
#divChangeContainer{
    grid-area: ChangeContainer;
    width: min-content;
    margin: 0;
    position: static;
}
#divStopContainer{
    grid-area: StopContainer;
    width: auto;
    margin: 0;
    left: 0;
}
#divCheckBox{
    grid-area: CheckBoxContainer;
    margin: 10px;
}

#ausgabeText{
    grid-area: AusgabeContainer;
    margin-top: 10px;
}
#leer{
    grid-area: LeerContainer;
}

#zeitAusgabe{
    grid-area: ZeitContainer;
    width: min-content;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
}

table {
    font-family: arial, serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#wetterAusgabe{
    grid-area: WetterContainer;
    position: absolute;
    top: 180px;
    right: 500px;
}

#wetterIcon{
    position: absolute;
    float: right;
    width: 450px;
    height: 300px;
}

.wetterText{
    font-family: Arial, serif;
    font-size: small;
    position: absolute;
    font-weight: bold;
}
.wetterTextMin{
    font-family: Arial, serif;
    font-size: small;
    position: absolute;
    color: blue;
    font-weight: bold;
}
.wetterTextMax{
    font-family: Arial, serif;
    font-size: small;
    font-weight: bold;
    position: absolute;
    color: red;
}
.wetterIMG{
    position: absolute;
}

/*Schlanders*/
#schlandersID{
    left: 10px;
    top: 160px;
}
#schlandersIMG{
    left: 5px;
    top: 100px;
}
#schlandersIDMin{
    left: 25px;
    top: 176px;
}
#schlandersIDMax{
    left: 45px;
    top: 176px;
}

/*Meran*/
#meranID{
    left: 124px;
    top: 141px;
}
#meranIMG{
    left: 170px;
    top: 105px;
}
#meranIDMin{
    left: 125px;
    top: 157px;
}
#meranIDMax{
    left: 145px;
    top: 157px;
}

/*Bozen*/
#bozenID{
    left: 215px;
    top: 200px;
}
#bozenIMG{
    left: 160px;
    top: 230px;
}
#bozenIDMin{
    left: 217px;
    top: 216px;
}
#bozenIDMax{
    left: 237px;
    top: 216px;
}

/*Sterzing*/
#sterzingID{
    left: 230px;
    top: 69px;
}
#sterzingIMG{
    left: 145px;
    top: 30px;
}
#sterzingIDMin{
    left: 240px;
    top: 85px;
}
#sterzingIDMax{
    left: 260px;
    top: 85px;
}

/*Brixen*/
#brixenID{
    left: 282px;
    top: 126px;
}
#brixenIMG{
    left: 290px;
    top: 150px;
}
#brixenIDMin{
    left: 285px;
    top: 142px;
}
#brixenIDMax{
    left: 305px;
    top: 142px;
}

/*Bruneck*/
#bruneckID{
    left: 345px;
    top: 95px;
}
#bruneckIMG{
    left: 340px;
    top: 30px;
}
#bruneckIDMin{
    left: 360px;
    top: 111px;
}
#bruneckIDMax{
    left: 380px;
    top: 111px;
}




