#titleBig{
    font-family: Arial, serif;
    text-align: center;
}
.titleStartStop{
    font-family: Arial, serif;
}
#iconPic{
    width: 25px;
    height: 25px;
}
#divStart{
    padding: 5px;
    width: auto;
    float: left;
}
#divStop{
    padding: 5px;
    width: auto;
    float: left;
}
#btnWechseln{
    background-image: url("images/pfeil.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}
#footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: auto;
    background-color: DarkSalmon;
}
#checkBusIMG{
    background-image: url("images/busBlue.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}
#checkZugIMG{
    background-image: url("images/trainRed.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}
#ausgabeBox{
    padding: 5px;
    width: auto;
    float: left;
}

#optionenText{
    padding: 5px;
    margin: 5px;
    width: 50%;
    float: right;
}
#ausgabeBoxOptionen{
    padding: 5px;
    width: 50%;
    float: right;
}
collapseOptionen{
    padding: 5px;
    width: 50%;
    right: 0;
    position: absolute;
}
#divStartContainer{
    display: block;
    width: auto;
    float: left;
}
#divChangeContainer{
    display: block;
    width: auto;
    float: left;
}
#divStopContainer{
    display: block;
    width: auto;
    float: left;
}